/*
Colors used(homepage/aboutme):
Primary Color: #F7F7F7;
Secondary Color: #FF386B;
White color: #FDFDFD;
Black color: #262626
*/

/*
Colors used(PizzaVida):
Primary Color: #FDFDFD;
Secondary Color: #F0F0F5;
Accent color: #FDC913;
White color: #FAFAFA
Black color: #585959
*/


* {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #262626;
}

h1,
h2,
h3 {
  line-height: 1.4;
}

.Melissa {
  color: #FF386B;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

.myphoto img {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adjust the box shadow properties as needed */
  vertical-align: middle;
}

  

.logoimelissa {
  width: 100px;
  height: auto;
}

img {
  width: 100%;
}

a {
  color: #262626;
  text-decoration: none;
}

a:hover {
  color: #cc6540;
  text-decoration: underline;
}

a:hover,
:focus {
  color: #FF386B;
  text-decoration: underline;
}

a:visited {
  color: #F7F7F7;
}

a:active {
  color: #262626;
}

header {
  background-color: #F7F7F7;
  padding: 10px 0;
  position: relative;
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1);
  width: 100%;
  top: 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'quicksand';
}

.navtoggle.responsive li {
  display: block;
  text-align: right;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  color: #FF386B;
}

nav>ul>li>a:hover {
  color: #4a4a4a;
}

nav>ul>li>a:active {
  color: #262626;
}

main {
  padding-top: 56px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  border-top: 1px;
  text-align: right;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.button {
  display: inline-block;
  background-color: #262626;
  color: #F7F7F7;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 45px;
  border-bottom: 2px solid;
  box-shadow: 0 8px 15px rgb(0, 0, 0, 0.1);
  transition: all 0.3s 0s ease;
  cursor: pointer;
  outline: none;
}

.button.contact {
  background-color: transparent;
  color: #FF386B;
  text-transform: uppercase;
  border: #FF386B solid 2px;
  margin-top: 8px;
  margin-bottom: 40px;
}

.button.contact:hover {
  background-color: #FF386B;
  color: #ffffff;
}

.button.resume {
  background-color: transparent;
  color: #FF386B;
  text-transform: uppercase;
  border: #FF386B solid 2px;
}

.button.resume:hover {
  background-color: #FF386B;
  color: #ffffff;
}

@keyframes color-change {
  0% {
    fill: #FBFFBC;
  }

  50% {
    fill: #BCFFE2;
  }

  100% {
    fill: #C1BCFF;
  }
}

#cloud3 {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

#cloud2 {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

#cloud1 {
  animation: cloud-move-reverse 34s linear infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100px);
  }
}

#woman {
  animation: bounce 1s ease-out infinite alternate;
}

#hero h1,
p {
  text-align: center;
}

#hero {
  background-color: #F7F7F7;
  padding: 20px 0;
  display: block;
  width: 100%;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work h3,
p {
  text-align: left;
}

#work {
  background-color: #FDFDFD;
}

#work p {
  text-align: left;
}

#footer {
  text-align: center;
}

#footer p {
  text-align: center;
}

.fa-brands {
  color: #FF386B;
}

#about h2,
h3,
p {
  text-align: center;
}

.relevantskills {
  text-align: center;
}

.relevantskills li {
  list-style: none;
}

.buttonresume {
  text-align: center;
}

.aboutpizzavida {
  float: left;
}

#app h1,
h2,
h3,
p {
  text-align: center;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    display: inline-block;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }



.myphoto img {
  display: inline-block;
  width: 50%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adjust the box shadow properties as needed */
  vertical-align: middle;
}




  .col-md-7 {
    width: 50%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

    .myphoto {
      width: 50%;
    }
}